h1{
    font-family: 'Merriweather', serif;
    display: block;
    text-align: center!important;
    font-size: 50px;
}

body{
    font-family: 'Merriweather', serif;
    background-color:#282A35!important;
    color: white!important;
    font-size: 17px;
}

a{
    color:#bf6363;
}

.black {
    background-color:#282A35!important;
    color: white!important;
}

.center1{text-align:center!important}

.center_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
}
  
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
}
  
.btn:hover {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(top, #f7f7f7, #040505);
    background-image: -moz-linear-gradient(top, #f7f7f7, #040505);
    background-image: -ms-linear-gradient(top, #f7f7f7, #040505);
    background-image: -o-linear-gradient(top, #f7f7f7, #040505);
    background-image: linear-gradient(to bottom, #f7f7f7, #040505);
    text-decoration: none;
}


